* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  align-items: center;
  justify-content: center;
  background-color: grey;
  min-height: 100vh;
}
.container {
  background-color: hsl(240, 68%, 16%);
  flex-direction: column;
  display: flex;
  min-height: 100vh;
  color: white;
  /* align-items: center; */
  /* justify-content: space-between; */
  margin: 32px;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.hero nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid yellow;
  /* gap: 100px; */
  /* width: 100%; */
  margin-top: 32px;
}

.contents button {
  background-color: rgb(44, 62, 85);
  border: 0;
  border-radius: 5px;
  width: 80px;
  color: white;
}
.contents .big {
  height: 20px;
}
.w-look {
  text-align: center;
}
.search-area {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.search-box {
  display: flex;
  width: 250px;
  background-color: rgb(44, 62, 85);
  border: 0;
  border-radius: 5px;
  margin: 4px;
  padding: 3px 6px;
}
.search-box img {
  height: 10px;
  margin: 3px;
}
input {
  background-color: rgb(44, 62, 85);
  outline: none;
  border: 0;
}
input::placeholder {
  color: white;
}
.search-area button {
  background-color: rgb(86, 86, 241);
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 2px;
  width: 60px;
  height: 25px;
  font-weight: 10px;
  margin-top: 4px;
  margin-left: 6px;
}
.subcontainer {
  display: flex;
  flex-direction: row;
  display: flex;
  min-height: 100vh;
}

.berlin {
  margin: 15px;
}
.berlin-sub {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  background: url(/Weather/weather-app-main/images/bg-today-large.svg);
  background-position: 100%;
  background-repeat: no-repeat;

  width: 390px;
  height: 150px;
  border-radius: 5px;
  padding: 10px;
}

.berlin-sub .sunny-items {
  display: flex;
  /* background-color: red; */
  flex-direction: row;
}
.sunny-items img {
  height: 50px;
  margin-top: 20px;
}
.before-dfcast {
  display: flex;
  flex-direction: row;
}
.before-dfcast .contents {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-evenly;
  background-color: rgba(41, 36, 82, 0.842);
  margin: 8px;
  padding: px;
  height: 50px;
  width: 75px;
  font-size: 8px;
  border-radius: 5px;
  text-align: center;
  font-weight: 10px;
}
.daily-fcast {
  display: flex;
  flex-direction: row;

  /* border: 2px solid yellow; */
  margin: 10px;
  /* width: 300px; */
}
.d-text {
  display: flex;
  text-align: center;
  margin: 10px;
}
.daily-fcast .itmes {
  display: flex;
  flex-direction: column;
  background-color: rgba(41, 36, 82, 0.842);
  border: 2px solid yellow;
  margin: 6px;
  align-items: center;
  justify-content: space-between;
}
.daily-fcast .itmes .value {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.daily-fcast .itmes img {
  height: 40px;
}
.rigth {
  display: flex;
  flex-direction: column;
  background-color: rgba(41, 36, 82, 0.842);
}
