body {
  background-color: black;
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
  width: 100vh;
}
.container {
  background-color: hsl(240, 68%, 16%);
  display: flex;
}
