* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  align-items: center;
  justify-content: center;
  background-color: grey;
  min-width: 100vh;
}
.container {
  background-color: hsl(240, 68%, 16%);
  flex-direction: column;
  display: flex;
  color: white;
  margin: 32px;
  padding: 8px;
  min-width: 100vh;
  align-items: center;
  justify-content: center;
  border: 3px solid yellow;
}

nav button {
  background-color: rgb(44, 62, 85);
  border: 0;
  border-radius: 5px;
  width: 80px;
  color: white;
}
nav .big {
  height: 15px;
}
nav {
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  /* border: 2px solid red; */
}
.search-area {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.search-box {
  display: flex;
  width: 250px;
  background-color: rgb(44, 62, 85);
  border: 0;
  border-radius: 5px;
  margin: 4px;
  padding: 3px 6px;
}
.search-box img {
  height: 10px;
  margin: 3px;
}
input {
  background-color: rgb(44, 62, 85);
  outline: none;
  border: 0;
}
input::placeholder {
  color: white;
}
.search-area button {
  background-color: rgb(86, 86, 241);
  color: white;
  border: 0;
  border-radius: 5px;
  padding: 2px;
  width: 60px;
  height: 25px;
  font-weight: 10px;
  margin-top: 4px;
  margin-left: 6px;
}
.subcontainer {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  border: 2px solid red;
  margin: 12px;
}
.left-down {
  display: flex;
}

.berlin-sub {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 10px;
  background: url(/Weather/weather-app-main/images/bg-today-large.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  margin: 8px;
  border-radius: 5px;
  padding: 32px;
}

.berlin-sub .sunny-items {
  display: flex;
  flex-direction: row;
}
.sunny-items img {
  height: 50px;
  margin-top: 20px;
}
.before-dfcast {
  display: flex;
  flex-direction: row;
}
.before-dfcast .contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(41, 36, 82, 0.842);
  margin: 8px;
  height: 50px;
  width: 75px;
  padding: 10px;
  font-size: 8px;
  border-radius: 5px;
  font-weight: 10px;
}
.daily-fcast {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.d-text {
  display: flex;
  text-align: center;
  margin: 10px;
}
.daily-fcast .itmes {
  display: flex;
  flex-direction: column;
  background-color: rgba(41, 36, 82, 0.842);
  /* border: 2px solid yellow; */
  margin: 3px;
  border: 0;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 8px;
  align-items: center;
  justify-content: space-between;
}
.daily-fcast .itmes .value {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.daily-fcast .itmes img {
  height: 40px;
}
.rigth {
  display: flex;
  flex-direction: column;
  background-color: rgba(41, 36, 82, 0.842);
  height: fit-content;
  border-radius: 5px;
  margin: 8px;
  /* padding: 8px; */
}
.hour-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  /* background-color: white; */
}
.hour-title button {
  color: white;
  display: flex;
  background-color: rgba(88, 88, 110, 0.842);
  border: 0;
  border-radius: 5px;
  padding: 2px;
  font-size: 10px;
  gap: 2px;
}
.hour-title button img {
  height: 5px;
  margin-top: 5px;
}
.hour {
  display: flex;
  background-color: rgba(88, 88, 110, 0.842);
  margin: 4px 6px;
  border-radius: 5px;
  justify-content: space-between;
  /* padding: 2px 6px; */
  border: 2px solid green;
}
.hour-cnts {
  display: flex;
  font-size: 6px;
  gap: 2px;
  align-items: center;
}
.hour-cnts img {
  height: 30px;
}
